<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shaishav.com.bebetter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Utils.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".Receiver.Reminder" />
        <receiver android:name=".Receiver.Backup" />

        <!-- <receiver android:name=".PhoneUnlockedReceiver"> -->
        <!-- <intent-filter > -->
        <!-- <action android:name="android.intent.action.USER_PRESENT"> -->


        <!-- </action> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name=".Activities.AddLesson"
            android:label="@string/title_activity_add_lesson"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Details"
            android:label="@string/title_activity_details"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Service.BackgroundService"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Intro"
            android:theme="@style/Theme.Intro" />

        <receiver android:name=".Utils.TimeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_widget_info" />
        </receiver>
    </application>

</manifest>