<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="shaishav.com.bebetter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".receiver.Reminder" />
        <receiver android:name=".receiver.Backup" />
        <receiver
            android:enabled="true"
            android:name=".receiver.BootupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.Intro"
            android:label="App Intro" />
        <activity
            android:name=".activities.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.BackgroundService"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".utils.TimeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_widget_info" />
        </receiver>

        <service android:name=".service.BackupService" />
        <service android:name=".service.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.Quote"
            android:label="@string/title_activity_quote"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.providers.ExperienceProvider"
            android:authorities="shaishav.com.bebetter.lessons"
            android:exported="false" />
        <provider
            android:name=".data.providers.GoalProvider"
            android:authorities="shaishav.com.bebetter.goal"
            android:exported="false" />
        <provider
            android:name=".data.providers.UsageProvider"
            android:authorities="shaishav.com.bebetter.usage"
            android:exported="false" />

    </application>

</manifest>